@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

/*font-family: 'Nerko One', cursive;*/

.social a{
	font-size: 50px;
	display: inline-block;
	padding: 0 12px;
	color:red;
	transition: 0.3s;
}
.social a:hover{
	font-size: 60px;
	color:green;
}
h2{
	font-family: 'Nerko One', cursive;
}
p{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	line-height: 50px;
}